/* theme reset */
.mas-wpjmcr-list-reviews .star-rating::before {
    display: none;
}

.mas-wpjmcr-list-reviews li {
    list-style: none;
    clear: both;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}


.mas-wpjmcr-list-reviews {
    float: right;
    padding-left: 15px;
}
.mas-wpjmcr-list-reviews .star-rating-title {
    line-height: 1.2;
}
#mas-wpjmcr-submit-ratings .star-rating,
.mas-wpjmcr-list-reviews .star-rating {
    float: none;
    text-align: center;
    max-height: 35px;
}
#mas-wpjmcr-submit-ratings .star-rating .dashicons,
.mas-wpjmcr-list-reviews .star-rating .dashicons {
    font-size: 12px;
    width: 10px;
}
#mas-wpjmcr-submit-ratings .star-rating .dashicons-star-filled,
.mas-wpjmcr-list-reviews .star-rating .dashicons-star-filled {
    color: #ffc107;
}

/*******************
 * Comment form
 ******************/
#mas-wpjmcr-submit-ratings {
    margin-bottom: 24px;
}
#mas-wpjmcr-submit-ratings label {
    display: block;
}
#mas-wpjmcr-submit-ratings .rating-row {
    clear: both;
}
#mas-wpjmcr-submit-ratings .choose-rating {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
    max-width: max-content;
}

#mas-wpjmcr-submit-ratings .choose-rating .star {
    color: #ffc107;
}
#mas-wpjmcr-submit-ratings .choose-rating .star:hover,
#mas-wpjmcr-submit-ratings .choose-rating .star:hover ~ .star,
#mas-wpjmcr-submit-ratings .choose-rating .star.active,
#mas-wpjmcr-submit-ratings .choose-rating .star.active ~ .star {
    cursor: pointer;
}
#mas-wpjmcr-submit-ratings .choose-rating .star:hover::before,
#mas-wpjmcr-submit-ratings .choose-rating .star:hover ~ .star::before,
#mas-wpjmcr-submit-ratings .choose-rating .star.active::before,
#mas-wpjmcr-submit-ratings .choose-rating .star.active ~ .star::before {
    content: "\f155";
}

/* Hide rating and gallery in reply form */
.comment-list .review-form-stars,
.comment-list .review-form-gallery,
.commentlist .review-form-stars,
.commentlist .review-form-gallery {
    display: none;
}

/***********************
 * Dashboard moderate
 **********************/
 
/* Ratings */
#job-manager-review-moderate-board .star-rating {
    max-height: none;
    clear: both;
    float: left;
}
#job-manager-review-moderate-board .mas-wpjmcr-list-reviews .star-rating-title {
    margin-bottom: 0;
}
#job-manager-review-moderate-board .mas-wpjmcr-list-reviews .star-rating {
    margin-bottom: 10px;
}

/* Actions */
.review-action svg {
    width: 10px;
    height: 10px;
    fill: #717A8F;
}